
.top-padding{
	padding-top: 40px;
}
.bottom-padding{
	padding-bottom: 40px;
}
.center{
	text-align: center;
}
.fullimg img{
	width: 100%;
}
.no-margin{
	margin-top: 0px;
	margin-bottom: 0px;
}
.spacer{
	height: 60px;
}